body {
    background: #743D91;
}

#menu-8315-1 {
    background: #F15D22;
}

/* SLIDESHOW
--------------------------------------------------------------------------*/
/* override #main-content .block-inner */
#main-content #block-views-slideshow-block .block-inner {
    padding: 0 0 20px 0; }

.flexslider {
    margin: 0 0 2em 0;
    font: 0.8em/1.4 "Roboto", sans-serif; }

.view-slideshow .views-field-title {
    margin-top: 0.5em; }
.view-slideshow .views-field-title h3 {
    text-transform: capitalize;
    font-size: 1.4em; }

/* override module defaults */
.views-slideshow-pager-fields > div {
    padding-left: 0; }

/* RESPONSIVE */
@media only screen and (max-width: 958px) and (min-width: 768px) {
    .view-slideshow .views_slideshow_main .views-field-body {
        font-size: inherit;
        width: 470px; }
    .view-slideshow .views_slideshow_main .views-field-title {
        width: 470px; } }
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .view-slideshow .views_slideshow_main .views-field-body {
        width: 398px;
        display: block; }
    .view-slideshow .views_slideshow_main .views-field-title {
        width: 398px; } }
@media only screen and (max-width: 479px) and (min-width: 421px) {
    .view-slideshow .views_slideshow_main .views-field-body {
        width: 278px;
        display: block; }
    .view-slideshow .views_slideshow_main .views-field-title {
        width: 278px; } }
@media only screen and (max-width: 420px) {
    .view-slideshow .views_slideshow_main .views-field-body {
        display: block;
        width: 278px; }
    .view-slideshow .views_slideshow_main .views-field-title {
        width: 278px; } }
