body {
    background: #743D91;
}

#menu-8315-1 {
    background: #F15D22;
}

/* SLIDESHOW
--------------------------------------------------------------------------*/
/* override #main-content .block-inner */
#main-content #block-views-slideshow-block .block-inner {
    padding: 0 0 20px 0; }

.slideshow-wrapper {
    padding-top: 1em; }

.flexslider {
    margin: 0 0 2em 0;
    font: 0.8em/1.4 "Roboto", sans-serif; }

.node .field-name-field-image img, .flexslider .slides img {
    height: 59vh;
    width: auto;
    box-shadow: 5px 5px #f3f1f1; }

.view-slideshow .views-field-title {
    margin-top: 0.5em;
    display: flex;
    justify-content: center; }

.view-slideshow .views-field-title h3 {
    text-transform: capitalize;
    font-size: 1.4em; }

.view-slideshow .views-field-image {
    margin-bottom: 1em; }
