/* block styling for BENN google ads */

#block-block-36 {
    margin: 20px auto;
	width: 728px;
}

#block-block-36 .block-inner {
    border-style: none;
    border-width: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#block-block-37 {
	margin-bottom:7px;
	}
	
#block-block-37 .block-inner {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#block-block-38 {
	margin-bottom:7px;
	}

#block-block-38 .block-inner {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

/* smaller browsers, tablets, phones */
@media only screen and (max-width: 767px) and (min-width: 280px) {

    /* Hide BENN leadboard ads on non full-size browsers */
    #block-block-39 {
        display: none;
        visibility: hidden;
    }

    #block-block-36 {
        display: none;
        visibility: hidden;
    }

}


