/* style for SDNA network ad */
#block-block-37 {
	margin: 1.6em auto 0;
    width: 728px;
	}
/* smaller browsers, tablets, phones */
@media only screen and (max-width: 767px) and (min-width: 280px) {

    /* Hide SDNA leadboard ad on non full-size browsers */
    #block-block-37 {
        display: none;
        visibility: hidden;
    }

}
