/* block styling for BENN google ads */

#block-block-40 {
    margin: 20px auto;
	width: 728px;
}

#block-block-40 .block-inner {
    border-style: none;
    border-width: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#block-block-37 {
	margin-bottom:7px;
	}
	
#block-block-37 .block-inner {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#block-block-38 {
	margin-bottom:7px;
	}

#block-block-38 .block-inner {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

